.cart-container2 {
  margin-top: 60px;
  padding-left: 23px;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: sticky;
  top: 80px;
}
.btn-clear-cart {
  background-color: rgba(255, 48, 48, 1);
  color: white;
}
