.product-container img {
  height: 286px;
  width: 100%;
  border-radius: 8px;
}
.product-container {
  border-radius: 8px;
  padding: 7px;
  border: 1px solid #95a0a7;
  position: relative;
}
.product-info h6 {
  margin-top: 0;
  margin-bottom: 4px;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.032px;
}
.product-info {
  margin-left: 14px;
}
.btn-cart {
  background: #ffe0b3;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 0px 8px 8px;
}
.btn-cart:hover {
  background-color: salmon;
}
